@model FileViewModel
@{
    ViewData["Title"] = "上传mod";
}
<br />
@if (ViewData["State"] != null)
{
    if (ViewData["State"].ToString() == "500")
    {
        <p style="background-color: RGBA(255,127,39,0.8); padding: 5px; border-radius: 3px;color: #FEFEFE;">@ViewData["Message"]</p>
    }
    else if (ViewData["State"].ToString() == "200")
    {
        <p style="background-color: RGBA(34,177,76,0.8); padding: 5px; border-radius: 3px;color: #FEFEFE;">@ViewData["Message"]</p>
    }
}
<form asp-controller="Home" role="form" asp-action="Upload" enctype="multipart/form-data" method="post">
    @*<div class="form-group">
            <label asp-for="Name"></label>
            <input type="text" class="form-control" asp-for="Name" />
        </div>*@
    <div class="form-group">
        <label asp-for="Remark"></label>
        <p class="help-block" style="margin-left:10px;"> - 将文件名替换为备注名（暂不支持中文）</p>
        <input type="text" class="form-control" asp-for="Remark" />
    </div>
    <div class="form-group">
        <label asp-for="ModFile"></label>
        <p class="help-block" style="margin-left:10px;"> - 仅支持.jar和.zip格式</p>
        <input type="file" asp-for="ModFile" />

    </div>
    <button type="submit" class="btn btn-primary">上传</button>
</form>