<script>
    var t = setTimeout("window.location.href='/console/manage'", 1500)
</script>
<section class="wrapper">
    <h3>
        <i class="fa fa-angle-right"></i> 信息
    </h3>
    <div class="col-md-12">
        <div class="alert alert-success" style="margin-top:40px;">@ViewData["Message"]</div>
    </div>
</section>

