<script>
    var t = setTimeout("window.location.href='/console/manage'", 1500)
</script>
<br />
<p style="background-color: RGBA(34,177,76,0.8); padding: 5px; border-radius: 3px;color: #FEFEFE;">@ViewData["Message"]</p>
